# Force SQL detection
*.sql linguist-language=SQL

# Ignore non-code files from language stats
dataset/* linguist-vendored
images/* linguist-vendored
*.xlsx linguist-vendored
*.csv linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored